{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "parseArticle",
    "description": "Parsing the content of web pages based on links provided by the user"
  },
  "servers": [
    {
      "url": "https://lobe.composere.com"
    }
  ],
  "paths": {
    "/api/readability": {
      "post": {
        "summary": "Parsing the content of web pages based on links provided by the user",
        "operationId": "parseArticle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "用户提供的网页链接地址"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL supplied"
          },
          "404": {
            "description": "Content not found"
          }
        }
      }
    }
  }
}
